# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.MySweetAlice.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C#\Diary-WebSite\.idea\.idea.MySweetAlice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
